@model IList<ASPPatterns.Chap3.Layered.Service.ProductViewModel>

@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <table class="table table-bordered table-responsive table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>RRP</th>
                <th>Selling Price</th>
                <th>Discount</th>
                <th>Savings</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.RRP</td>
                <td>@product.SellingPrice</td>
                <td>@product.Discount</td>
                <td>@product.Savings</td>
            </tr>
        }
        </tbody>
    </table>
</div>

